@using SinoStationWeb.Models;

@{
    ViewBag.Title = "Room";
}

<div ng-controller="RoomCtrl" class="container" style="margin-top: 60px">

    <div ng-repeat="x in [].constructor(3) track by $index">
        <br />
    </div>

    <form name="yearForm">
        <label for="repeatSelect">請選擇規範條件：</label>
        <select name="repeatSelect" id="repeatSelect" ng-model="data.model" class="custom-select custom-select-lg mb-3" ng-change="GetResponseByYear(data.model)">
            <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
        </select>
    </form>

    <div ng-repeat="x in [].constructor(3) track by $index">
        <br />
    </div>

</div>

@section Scripts {
    <script src="@Url.Versioned("~/Scripts/WebApp/RegulatoryReview/RoomCtrl.js")"></script>
}